<ion-header>
  <ion-toolbar>
    <ion-title>
      MENU UTAMA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col size="6">
          <ion-tab-button tab="jadwal">
            <div>
              <img src="/assets/bola2.png" alt="" />
              <p class="color-text">Jadwal Sepakbola</p> 
            </div>
          </ion-tab-button>
          </ion-col>
          <ion-col size="6">
          <ion-tab-button tab="siaran">
            <div>
              <img src="/assets/bola2.png" alt="" />
              <p>Siaran Langsung</p>
            </div>
          </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button tab="klasmen">
            <div>
              <img src="/assets/bola.jpg" alt="" />
              <p>klasmen</p>
            </div>
          </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button tab="topskor">
            <div>
              <img src="/assets/bola.jpg" alt="" />
              <p>Top Skor</p>
            </div>
          </ion-tab-button>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
