<ion-header>
  <ion-toolbar>
    <ion-title>jadwal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/bola2.png" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>jadwal sepakbola</p>
      <p> 1. Manchester United vs Inter Milan (ICC)</p>
      <P>2. Real Madrid vs Bayern Munich (ICC)</P>
      <p>3. Juventus Vs Tothenham Hotspurs (ICC)</p>
  
    </ion-row>

</ion-content>
