<ion-header>
  <ion-toolbar>
    <ion-title>siaran</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
    <ion-col size="5">
    <div>
      <img src="/assets/bola2.png" alt="" />
    </div>
  </ion-col>
</ion-row>
</ion-grid>
<ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
<p>Siaran Langsung</p>
<p> 1. Manchester United vs Inter Milan (ICC) minggu live RCTI 18:00 wib</p>
<P>2. Real Madrid vs Bayern Munich (ICC) senin live RCTI 18:00 wib</P>
<p>3. Juventus Vs Tothenham Hotspurs (ICC) selasa live RCTI 18:00 wib</p>

</ion-row>
</ion-content>
